$black: #0e0e0e;
$white: #fff;
$accent: #e30613;
$gray: #bfbfbf;
$gray2: #686868;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
	color: $black;
}

body {
	font-family: "Inter", sans-serif;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1340px;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.left-column,
.right-column {
	width: 660px;
}

.left-column {
	// background-color: #ccc;
	text-align: center;
}

.right-column {
	margin-left: 20px;
	// background-color: #ddd;
}

.btn {
	width: 100%;
	height: 60px;
	background-color: $accent;
	color: $white;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
	border-radius: 16px;
	text-decoration: none;
	display: block;
	outline: none;
	cursor: pointer;
	border: none;
}

.top-sticky {
	z-index: 2;
	position: sticky;
	top: 0;
	margin: 0 auto;
	display: inline-block;
	padding-top: 41px;

	.logo {
		margin-bottom: 32px;
	}

	.title {
		font-size: 14px;
		text-align-last: left;
	}

	.number {
		font-weight: 600;
		font-size: 37px;
		margin-bottom: 18px;
		text-decoration: none;
		display: block;
		color: $black;
	}
}

.cactus {
	z-index: 1;
	position: fixed;
	bottom: 0;
	background: transparent url("../img/cactus.webp") no-repeat left bottom;
	height: 299px;
	width: 499px;
}

h1 {
	font-size: 72px;
	text-align: center;
	margin: 78px 0 12px;

	b {
		color: $accent;
		position: relative;

		&:before {
			content: " ";
			background: transparent url(../img/ellipse_1.svg);
			width: 355px;
			height: 121px;
			display: block;
			position: absolute;
			top: -22px;
			left: -32px;
		}
	}
}

h3 {
	font-size: 72px;
	text-align: center;
	margin-bottom: 26px;

	b {
		color: $accent;
		position: relative;

		&:before {
			content: " ";
			background: transparent url(../img/ellipse_2.svg);
			width: 539px;
			height: 116px;
			display: block;
			position: absolute;
			top: -8px;
			left: -68px;
		}
	}
}

.subtitle {
	text-align: center;
	font-size: 30px;
	margin-bottom: 27px;
}

.types {
	display: flex;
	flex-wrap: wrap;
	width: 540px;
	margin: 0 auto;

	.item {
		width: 50%;
		font-size: 20px;
		display: flex;
		align-items: center;
		padding: 0 20px 0 0;

		margin-bottom: 17px;

		&:nth-child(even) {
			padding: 0 0 0 20px;
		}
		img {
			margin-right: 20px;
			width: 35px;
			transform: scale(1.2);
		}
	}
}

.laptop {
	text-align: center;
	margin-bottom: 115px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	width: 568px;
	margin: 0 auto 44px;

	p {
		margin: 0;
	}

	label {
		width: 217px;
		height: 38px;
		position: relative;
		margin-left: 67px;
		margin-bottom: 15px;
		font-size: 16px;
		display: flex;
		align-items: center;
		cursor: pointer;

		input {
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;
			cursor: pointer;

			&:checked ~ span {
				background-image: url(../img/mark.svg);
				background-color: $black;
			}
		}

		span {
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: none;
			content: "";
			height: 32px;
			width: 32px;
			margin-right: 15px;
			display: block;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			border: 2px solid $black;
			border-radius: 50%;
			transition: 0.15s all ease-out;
		}
	}
}

.actions {
	display: flex;
	align-items: center;

	.btn {
		width: 279px;
		height: 75px;
		line-height: 75px;
		margin-left: 20px;
	}
}

.field {
	position: relative;
	width: 360px;

	input {
		width: 100%;
		font-size: 34px;
		font-weight: bold;
		border: 1px solid $gray;
		border-radius: 16px;
		padding: 0 15px;
		line-height: 75px;
		outline: none;
	}

	label {
		position: absolute;
		top: -16px;
		left: 15px;
		font-size: 14px;
		color: $gray2;
		background-color: $white;
		padding: 8px;
	}
}

.order {
	margin-bottom: 100px;
}
